
<template name="asset">
  {{> header}}
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <label for="customer">Name: </label>
        <input type="text" id="inputname" class="form-control">
      </div>
      <div class="col-md-5">
        <label for="customer">Symbol: </label>
        <input type="text" id="inputsymbol" class="form-control">
      </div>
      <div class="col-md-2">
        <label>&nbsp;</label>
        <button id="btnAdd" class="btn btn-block btn-success">Add</button>
      </div>
    </div>
    <div class="row">
			<div class="col-md-12"><br />
      {{> tabular table=Asset class="table table-default table-striped table-bordered table-condensed"}}
			</div>
        	</div>
  </div>
  {{> footer}}
</template>

