
<template name="completed">
  {{> header}}
  <div class="container">
    <div id="overlay">
      <div id="overlay_text"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/">Home</a> | <a href="/ongoing">Ongoing Betting</a> <br /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      {{#if zilpay}}
        Your wallet: <strong>{{zilpay}}</strong>, Balance: <strong><span id="wallet_balance"></span></strong> zil<br />
        <hr />
      {{/if}}
      </div>
    </div>
    {{#each bettingadd}}
    <div class="row">
      <div class="col-md-12">
        {{#with betting this.betting }}
        
        Started price: <strong>{{formatcurrency(this.start_price)}}</strong>({{formatdatetime(this.created_at_start)}}),
        Ended price: {{#if $gte this.status 4}}<strong>{{formatcurrency(this.end_price)}}</strong> ({{formatdatetime(this.created_at_end)}}){{/if}}<br />
        Currency: <strong>{{asset(this.asset)}}</strong>, Fee: 3% of total won amount.<br />
        Ended block: #<strong>{{this.end_block}}</strong>, Expired block: #<strong>{{this.expired_block}}</strong><br />
        {{this.bet_up}} person(s) bet for UP and {{this.bet_down}} person(s) bet for DOWN. Totally <strong>{{this.total_up}}</strong> zil bet for UP and <strong>{{this.total_down}}</strong> zil bet for DOWN
        {{/with}}
        {{#if this.up}} <br />You bet for UP ({{this.amount}} zil).{{/if}}
        {{#if this.down}} <br />You bet for DOWN ({{this.amount}} zil).{{/if}}
        
        {{#if $eq this.won true }}
          <span class="label label-warning">Congratulation! you won this bet.</span>
          <br />Claimed amount: <strong>{{this.reward}}</strong> zil
        {{else}}
        <span class="label label-danger">You lost the bet.</span>
        {{/if}}
      </div>
    </div>
    <hr />
    {{/each}}
  </div>
  {{> footer}}
</template>

