
<template name="contract">
  {{> header}}
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <label for="customer">Name: </label>
        <input type="text" id="inputname" class="form-control">
      </div>
      <div class="col-md-5">
        <label for="customer">Address: </label>
        <input type="text" id="inputaddress" class="form-control">
      </div>
      <div class="col-md-2">
        <label>&nbsp;</label>
        <button id="btnSave" class="btn btn-block btn-success">Save</button>
      </div>
    </div>
    <div class="row">
			<div class="col-md-12"><br />
      {{> tabular table=Contract class="table table-default table-striped table-bordered table-condensed"}}
			</div>
        	</div>
  </div>
  {{> footer}}
</template>

