<head>
  <title>Up || Down</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="custom.css">

</head>

<body>

</body>

<template name="account">
  {{> header}}
  {{> yield}}
  {{> footer}}
</template>

<template name="public">
  {{> header}}
  <div id="overlay">
    <div id="overlay_text"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/ongoing">Ongoing Betting</a> | <a href="/completed">Completed Betting</a>
      {{#if isInRole 'admin'}}
      
          | <a href="/asset">Asset</a> | <a href="/contract">Contract</a>
      
      {{/if}}
      <br /><br />
        
      {{#if zilpay}}
        Your wallet: <strong>{{zilpay}}</strong>, Balance: <strong><span id="wallet_balance"></span></strong> zil<br />
        Current block: <strong><span id="current_block"></span></strong>
        <hr />
        <strong>NEW PREDICTION</strong><br /><br />
        {{#if betting}}
          Status: <strong>
          {{#if $eq betting.status 0}}Accept intent{{/if}}
          {{#if $eq betting.status 1}}Submitting to blockchain for starting bet.{{/if}}
          {{#if $eq betting.status 2}}Open for betting{{/if}}
          {{#if $eq betting.status 3}}Close betting & wait for result!{{/if}}
          {{#if $eq betting.status 4}}Betting is ended{{/if}}
          {{#if $eq betting.status 5}}Betting is expired{{/if}}</strong>
          <br />
          Started price: <strong>{{formatcurrency(betting.start_price)}}</strong>, 
          Currency: <strong>{{asset(betting.asset)}}</strong>, Fee: 3% of total won amount.<br />
          {{#if $eq betting.status 0}}This bet will be cancelled at <strong>#{{betting.cancel_block}}</strong> if the persons intent to bet less than <strong>{{betting.min_up}} person (UP)</strong> and <strong>{{betting.min_down}} persons (Down)</strong><br />{{/if}}
          Can bet up to block #<strong>{{betting.start_block}}</strong><br />
          Betting will be ended at block #<strong>{{betting.end_block}}</strong> (Ended price will be calculated around this block)<br />
          If you won, you need withdraw by block #<strong>{{betting.expired_block}}</strong>
          
          {{#if $eq betting.status 0}}<br />
            Currently, there are {{betting.intent_up}} person(s) willing to bet UP and {{betting.intent_down}} person(s) willing to bet DOWN.
            <br /><br />
            {{#if address}}
              {{#if $eq address.up true}}
              You are willing to bet for UP.<br />
              {{/if}}
              {{#if $eq address.down true}}
              You are willing to bet for DOWN.<br />
              {{/if}}
            {{else}}
              <button class="btn btn-success btn-sm" id="intent_up"><i class="fas fa-arrow-alt-circle-up"></i> I WANT TO BET UP</button> &nbsp;&nbsp;
              <button class="btn btn-danger btn-sm" id="intent_down"><i class="fas fa-arrow-alt-circle-down"></i> I WANT TO BET DOWN</button>
            {{/if}}
          {{/if}}
          <!-- Open for bidding -->
          {{#if $eq betting.status 2}}<br />
            Currently, {{betting.bet_up}} person(s) bet for UP and {{betting.bet_down}} person(s) bet for DOWN.<br /><br />
            {{#if $eq address.submitted false}}
            <div class="row">
              <div style="margin: 0 auto; width: 30%;">
              <div class="col-md-10">
                <input type="text" id="zilamount" placeholder="Amount (Zil)" class="form-control">
              </div>
              <div class="col-md-2">
                {{#if address.up}}
                <button class="btn btn-success btn-sm" id="betting_up"><i class="fas fa-arrow-alt-circle-up"></i> BET (UP)</button> &nbsp;&nbsp;
                {{/if}}
                {{#if address.down}}
                <button class="btn btn-success btn-sm" id="betting_down"><i class="fas fa-arrow-alt-circle-down"></i> BET (DOWN)</button> &nbsp;&nbsp;
                {{/if}}
              </div>
            </div>
            </div>
            {{else}}
              {{#if address.up}}
              You bet for UP (<strong>{{address.amount}}</strong> zil).
              {{/if}}
              {{#if address.down}}
              You bet for DOWN (<strong>{{address.amount}}</strong> zil).
              {{/if}}
            {{/if}}

            {{#if address}}
            {{else}}
            <div class="row">
              <div style="margin: 0 auto; width: 60%;">
              <div class="col-md-8">
                <input type="text" id="zilamount" placeholder="Amount (Zil)" class="form-control">
              </div>
              <div class="col-md-2">
                <button class="btn btn-success btn-sm" id="betting_up"><i class="fas fa-arrow-alt-circle-up"></i> BET (UP)</button> 
              </div>
              <div class="col-md-2">
                <button class="btn btn-danger btn-sm" id="betting_down"><i class="fas fa-arrow-alt-circle-down"></i> BET (DOWN)</button>
              </div>
            </div>
            </div>
            {{/if}}
          {{/if}}
          
        {{else}}
        Not available!
        {{/if}}

      {{else}}
      
        Access your Zilliqa wallet with <br />
        <img src="zilpay.png" id="accessZilpay" />
      {{/if}}
      </div>
    </div>

  </div>
  {{> footer}}
</template>

<template name="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12"><br />
          <h2 class="text-center">UP || DOWN</h2>
          <p class="text-center"><small>Testnet (Get free ZIL from <a href="https://dev-wallet.zilliqa.com/faucet" target="_blank">here</a>)</small></p>
      </div>
    </div>
</div>
</template>
<template name="footer">
  <footer id="footer" class="clearfix ">

          <!-- .subfooter start -->
          <!-- ================ -->
          <div class="subfooter">
                  <div class="container">
                          <div class="subfooter-inner">
                                  <div class="row">
                                          <div class="col-md-12"><br /><br /><br />
                                                  <p class="text-center"><small>
                                                          Built on <a target="_blank" href="https://www.zilliqa.com/">Zilliqa</a>,
                                                          Access with <a href="https://zilpay.xyz/">ZilPay</a>, Price API provided by <a href="https://www.coingecko.com/" target="_blank">CoinGecko</a></small></p>

                                          </div>
                                  </div>
                          </div>
                  </div>
          </div>
  <!-- .subfooter end -->

  </footer>
</template>