
<template name="ongoing">
  {{> header}}
  <div class="container">
    <div id="overlay">
      <div id="overlay_text"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/">Home</a> | <a href="/completed">Completed Betting</a> <br /><br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      {{#if zilpay}}
        Your wallet: <strong>{{zilpay}}</strong>, Balance: <strong><span id="wallet_balance"></span></strong> zil<br />
        Current block: <strong><span id="current_block"></span></strong>
        <hr />
      {{/if}}
      </div>
    </div>
    {{#each bettingadd}}
    <div class="row">
      <div class="col-md-12">
        {{#with betting this.betting }}
        {{#if $eq this.status 3}}
        <label for="endblock_{{this._id}}">Progress up to the ended block:</label>
        <meter id="endblock_{{this._id}}" class="currentblock" min="{{this.start_block}}" max="{{this.end_block}}"></meter><br>
        {{/if}}
        {{#if $eq this.status 33}}
        Get price and submit to blockchain.<br />
        {{/if}}
        {{#if $eq this.status 4}}
        <label for="expiredblock_{{this._id}}">Progress up to the expired block:</label>
        <meter id="expiredblock_{{this._id}}" class="currentblock" min="{{this.end_block}}" max="{{this.expired_block}}"></meter><br>
        {{/if}}
        Started price: <strong>{{formatcurrency(this.start_price)}}</strong>({{formatdatetime(this.created_at_start)}}),
        Ended price: {{#if $gte this.status 4}}<strong>{{formatcurrency(this.end_price)}}</strong> ({{formatdatetime(this.created_at_end)}}){{/if}}<br />
        Currency: <strong>{{asset(this.asset)}}</strong>, Fee: 3% of total won amount.<br />
        Ended block: #<strong>{{this.end_block}}</strong>, Expired block: #<strong>{{this.expired_block}}</strong><br />
        {{this.bet_up}} person(s) bet for UP and {{this.bet_down}} person(s) bet for DOWN. 
        {{#if $gt this.total_up 0}}
          {{#if $gt this.total_down 0}}
          Totally <strong>{{this.total_up}}</strong> zil bet for UP and <strong>{{this.total_down}}</strong> zil bet for DOWN
          {{/if}}
        {{/if}}
        {{/with}}
        {{#if this.up}} <br />You bet for UP ({{this.amount}} zil).{{/if}}
        {{#if this.down}} <br />You bet for DOWN ({{this.amount}} zil).{{/if}}
        
        {{#if $eq this.won true }}
          <span class="label label-warning">Congratulation! you won this bet.</span><br />
          <span class="label label-danger label-xs">*</span> You MUST claim your reward before expired block or you will lose the whole bet money and reward.
          {{#if $eq this.claim false }}
          <br /><br /><button class="btn btn-success wondata btn-sm" data-id="{{this._id}}"><i class="far fa-money-bill-alt"></i> Claim Reward</button>
          {{else}}
          <br />Claimed amount: <strong>{{this.reward}}</strong> zil
          {{/if}}
        {{else}}
        {{#if $eq this.status 4}}You lost the bet.{{/if}}
        {{/if}}
      </div>
    </div>
    <hr />
    {{/each}}
  </div>
  {{> footer}}
</template>

